language: c

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      env: CONFIGFLAGS="CFLAGS=-m64 --enable-cuckoo --enable-magic"
      # The certificate for scan.coverity.com is too new and is not recognized by
      # wget. This command adds the certificate to /etc/ssl/certs/ca-certificates.crt
      # See: https://github.com/travis-ci/travis-ci/issues/6142
      before_install: echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-certificates.crt
      install: |
        sudo apt-get update
        sudo apt-get install -y autoconf automake libtool libjansson-dev libmagic-dev libssl-dev
    - os: linux
      dist: trusty
      sudo: required
      env: CONFIGFLAGS="CFLAGS=-m32 --enable-cuckoo --enable-magic"
      install: |
        sudo dpkg --add-architecture i386 && sudo rm -rf /etc/apt/sources.list.d/
        sudo apt-get update
        sudo apt-get remove postgresql-9.3
        sudo apt-get upgrade -y gcc
        sudo apt-get install -y gcc-multilib autoconf automake libtool libjansson-dev:i386 libmagic-dev:i386 libssl-dev:i386
    - os: linux
      dist: trusty
      sudo: required
      env: CONFIGFLAGS=--host=x86_64-w64-mingw32
      install: |
        sudo apt-get update
        sudo apt-get install -y gcc-mingw-w64 autoconf automake libtool
    - os: linux
      dist: trusty
      sudo: required
      env: CONFIGFLAGS=--host=i686-w64-mingw32
      install: |
        sudo apt-get update
        sudo apt-get install -y gcc-mingw-w64 autoconf automake libtool
    - os: osx
      osx_image: xcode7.3
    - os: osx
      osx_image: xcode8.3
    - os: osx
      osx_image: xcode9.2

before_script: ./bootstrap.sh

script: |
  rvm get head  # Workaround for Travis CI issue https://github.com/travis-ci/travis-ci/issues/6307
  set -e
  unset CC # A pre-set CC overrides --host settings.
  ./configure $CONFIGFLAGS
  make clean && make
  case "$CONFIGFLAGS" in
    *--host=*mingw*) ;;
    *) make check ;;
  esac
  set +e

after_failure: if [ -e test-suite.log ]; then cat test-suite.log; fi

env:
  global:
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    # via the "travis encrypt" command using the project repo's public key
    - secure: "JWobvJ94pWt/xVciQURkNFS3I+gyu2IyZPKYEs6HDlHrpHs4BoVDZeRjmgx0s6aDeQjKJHowGDu17IlbnCkKzXrZErEJkA+Oc/d0SwgXKiUU9WYiaGBJjJUoYZw66QIEuGGKkF4uQ7EIcW/vN7wzrCDyAiPeOPUjVP4Tc2XRzmkSfakfmf9cE5nqT84DPUYiRegM7iepMrZi9kEaAoboBuETT+6eUKdERRadM0QNjZmCYMEMjtFj3lE51Ey2stGqZdKJvJN0FUmxGoaXCFFAsNmZPnFeDkqTf0a+MzxG2m4nnIXyNC/nT5XLItKHog4KROHb4tUpCZJ4iJhcw3loWMCtkZqB2fq2PaOkKk2zxPr3HLCn7ltmOzReBEDjEg68UqWydRW5534JGosbcA9IfshS1VqnZLgGwQHieXNeqhJUumt1DpON7AQEiEzbzAk0y2VcPlDPuCt9QS1k+zPMZLzbwgvs1ZOH39oFESW+iEDdzZjbhyC3J6azTHFcnA7r5SsYe1pzcSUaYtS1ehhb0lU/442JSHw2j00Nv9qFycYNvDrRNQNBxLziVustT0WJoVdFlkKy16iu1tUYOVXKgmMfqUDINfU6zRz3DskVuB9MZzq/4cMdK4jMRIDNZWvye1BzM7o/PiJoNaQc/6iav2RD+5YV46bBr60TqnYyjlM="

addons:
  coverity_scan:
    project:
      name: "plusvic/yara"
      description: "Build submitted via Travis CI"
    notification_email: plusvic@gmail.com
    build_command_prepend: "./configure; make clean"
    build_command:   "make -j 4"
    branch_pattern: master
