# AppVeyor CI for Windows

version: 3.9.0-{build}

pull_requests:
  do_not_increment_build_number: true

environment:
  matrix:
  - TARGET: vs2015
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    VisualStudioVersion: 14.0
    configuration: Release
    platform: x86
  - TARGET: vs2015
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    VisualStudioVersion: 14.0
    configuration: Debug
    platform: x86
  - TARGET: vs2015
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    VisualStudioVersion: 14.0
    platform: x64
    configuration: Release
  - TARGET: vs2015
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    VisualStudioVersion: 14.0
    platform: x64
    configuration: Debug
  - TARGET: cygwin

for:
-
  matrix:
    only:
    - TARGET: cygwin

  build_script:
  - cmd: C:\cygwin64\bin\bash -e -l -c "cd c:/projects/yara && ./build.sh"

  test_script:
  - cmd: C:\cygwin64\bin\bash -e -l -c "cd c:/projects/yara && make check"

-
  matrix:
    only:
      - TARGET: vs2015

  before_build:
  - ps: nuget restore windows/vs2015/yara.sln

  build:
    project: windows/vs2015/yara.sln
    verbosity: minimal

  after_build:
  - cmd: 7z a yara-%CONFIGURATION%-%PLATFORM%.zip %APPVEYOR_BUILD_FOLDER%\windows\%TARGET%\%CONFIGURATION%\*.exe

  artifacts:
  - path: yara-$(configuration)-$(platform).zip
    name: yara-$(configuration)-$(platform)
    type: zip

  test: off

# Uncomment the lines below for enabling Remote Desktop in the Appveyor. This
# allows connecting to the remote machine and debug issues.
# on_finish:
# - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
