<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>YARA</string>
	<key>ordering</key>
	<array>
		<string>B2FCEE68-87FA-45BA-BCAB-72EB9C9A0C3F</string>
		<string>A9DBD3EB-C900-46BD-BFC6-1B663B04D53F</string>
		<string>37D903E5-F98B-48C3-AED3-A79518607E49</string>
	</array>
	<key>uuid</key>
	<string>1E30D5ED-9687-4F4E-8755-1B8D7403F549</string>
</dict>
</plist>
