#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "bonoofbono Filter Driver"
#define VER_INTERNALNAME_STR        "bonoofbono.sys"

#include "common.ver"
