# Rules in this file were initially inferred by Visual Studio IntelliCode from the F:\YARA_DLL\testyara\yara\windows\vs2017 codebase based on best match to current usage at 17/08/23
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

