<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="YARA.Jansson.x64" version="1.1.0" targetFramework="native" />
  <package id="YARA.Jansson.x86" version="1.1.0" targetFramework="native" />
  <package id="YARA.OpenSSL.x64" version="1.1.0" targetFramework="native" />
  <package id="YARA.OpenSSL.x86" version="1.1.0" targetFramework="native" />
</packages>