<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="YARA.OpenSSL"
         value="https://ci.appveyor.com/nuget/openssl-oaib8n7lvvtp" />
    <add key="YARA.Jansson"
         value="https://ci.appveyor.com/nuget/jansson-41we82mn284d" />
  </packageSources>
</configuration>
